<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="py-5 text-center">
    <h2>검수사진 업로드</h2>
</div>
<hr class="my-4">
<div class="py-5 text-center">
    <form name="fileForm" th:action="|@{/web/admin/inspections/{dealId}/register(dealId=${dealId})}|" method="post" enctype="multipart/form-data">
        <input multiple="multiple" type="file" name="file" />
        <select name="result">
            <option value="pass">pass</option>
            <option value="fail">fail</option>
        </select>
        <input type="submit" value="서버에 저장" />
    </form>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>