<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>

<div class="py-5 text-center">
    <h2>아이템 리스트</h2>
</div>

<!--<div align="right">
    <form name="itemRegisterForm" th:action="|@{/web/admin/items/register}|" method="post">
        <select name="categoryName">
            <tr th:each="category : ${categories}">
                <td><option th:value="${category}"><span th:text="${category}"></span></option></td>
            </tr>
        </select>
        <input type="submit" value="새로운 아이템 등록"/>
    </form>
</div>-->

<div>
    <table class="table">
        <thead>
        <tr>
            <th>아이템 ID</th> <th>제조사</th> <th>아이템 카테고리</th> <th>아이템 이름</th> <th>아이템 거래건수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.itemId}"></td>
            <td th:text="${item.manufacturer}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.itemDealCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>