<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>

<div class="py-5 text-center">
    <h2>발송내역</h2>
</div>
<hr class="my-4">
<div>
    <table class="table">
        <thead>
        <tr>
            <th>거래 ID</th> <th>구매 ID</th> <th>주소 ID</th> <th>구매 상태</th> <th>검수 ID</th> <th>배송사</th> <th>송장번호</th> <th>배송등록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${list}">
            <td th:text="${element.dealId}"></td>
            <td th:text="${element.buyingId}"></td>
            <td th:text="${element.addressId}"></td>
            <td th:text="${element.buyingStatus}"></td>
            <td th:text="${element.inspectionId}"></td>
            <td th:text="${element.courierName}"></td>
            <td th:text="${element.deliveryNumber}"></td>
            <td>
                <form name="registerForm" th:action="|@{/web/admin/deliveries/sends/{inspectionId}(inspectionId=${element.inspectionId})}|" method="post">
                    <input type="submit" value="완료"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>