HELP.md
.gradle
build/

### yml ###
application-real-db.yml
application-local-db.yml

*.properties
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### java ###
InitNotebook.java
InitTablet.java
InitUser.java
InitManufacturer.java

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
**/src/main/**/out/
**/src/test/**/out/

