<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="py-5 text-center">
    <h2>노트북 등록 페이지</h2>
</div>
<hr class="my-4">
<div class="py-5 text-center">
    <form name="saveForm" th:action="|@{/web/admin/items/register/notebooks}|" method="post" enctype="multipart/form-data">
        이미지 : <input multiple="multiple" type="file" name="file" /><br>
        이름: <input type="text" name="itemName"/> <br>
        모델번호: <input type="text" name="modelNumber" /> <br>
        출시날짜: <input type="date" name="releaseDay"/> <br>
        색상: <input type="text" name="color" /> <br>
        출시가격: <input type="text" name="releasePrice"/> <br>
        제조사 :
        <select name="manufacturerName">
            <tr th:each="name : ${names}">
                <td><option th:value="${name}"><span th:text="${name}"></span></option></td>
            </tr>
        </select> <br>
        인치: <input type="text" name="inch"/> <br>
        CPU: <input type="text" name="cpu" /> <br>
        코어: <input type="text" name="core"/> <br>
        OS: <input type="text" name="os"/> <br>
        메모리: <input type="text" name="memory" /> <br>
        용량: <input type="text" name="storage"/> <br>
        GPU: <input type="text" name="gpu" /> <br>
        무게: <input type="text" name="weight"/> <br>
        <input type="submit" value="서버에 저장" />
    </form>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>