<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="py-5 text-center">
    <h2>거래 내역</h2> </div>
<hr class="my-4">
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th> <th>날짜</th> <th>상태</th> <th>구매 ID</th><th>판매 ID</th><th>검수 ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${deals}">
            <td th:text="${deal.dealId}"></td>
            <td th:text="${deal.createdDate}"></td>
            <td th:text="${deal.status}"></td>
            <td th:text="${deal.buyingId}"></td>
            <td th:text="${deal.sellingId}"></td>
            <td th:text="${deal.inspectionId}">null</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>