<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>

<div class="py-5 text-center">
    <h2>거래 내역</h2>
</div>
<hr class="my-4">
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th> <th>날짜</th> <th>상태</th> <th>구매 ID</th><th>판매 ID</th> <th>검수 ID</th> <th>입고</th> <th>검수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${deals}">
            <td th:text="${deal.dealId}"></td>
            <td th:text="${deal.createdDate}"></td>
            <td th:text="${deal.status}"></td>
            <td th:text="${deal.buyingId}"></td>
            <td th:text="${deal.sellingId}"></td>
            <td th:text="${deal.inspectionId}"></td>
            <td>
                <form name="incomingForm" th:action>
                    <input type="submit" value="완료"/>
                </form>
            </td>
            <td>
                <form name="inspectionForm" th:action="|@{/web/inspections/{dealId}(dealId=${deal.dealId})}|">
                    <input type="submit" value="등록"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>